Package: com.bd452.quickyo
Name: QuickYo
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Bryce Dougherty
Author: Bryce Dougherty
Section: Tweaks
