<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Yo Username</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.bd452.quickyo-prefs</string>
			<key>key</key>
			<string>Username</string>
			<key>label</key>
			<string>Username</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSecureEditTextCell</string>
			<key>defaults</key>
			<string>com.bd452.quickyo-prefs</string>
			<key>key</key>
			<string>Password</string>
			<key>label</key>
			<string>Password</string>
		</dict>
	</array>
	<key>title</key>
	<string>QuickYo</string>
</dict>
</plist>
